models/ckpt/
**/__pycache__/
wandb/
logs/
*swp
**/*.txt

trec_eval-9.0.7/
runs/
dataset/scai-qrecc21-naacl-baseline.json
dataset/qrecc_provenances_contriever.jsonl
dataset/wiki_corpus_for_qrecc.jsonl

prediction.jsonl
